[ { "comment": "Any object containing one of more 'comment' properites is ignored.",
    "comment": "To use one of the settings below, remove the",
    "comment": "'comment' line and fill in 'clientId' and 'redirectUri'."
  },
  { "comment": "Remove this line to enable.",
    "name": "GitHub",
    "authorizationUri": "https://github.com/login/oauth/authorize",
    "tokenUri": "https://github.com/login/oauth/access_token",
    "apiUri": "https://api.github.com/",
    "clientId": "<FILL IN HERE>",
    "redirectUri": "<FILL IN HERE>",
    "scopes": {"user": "user"}
  },
  { "comment": "Remove this line to enable.",
    "name": "Gmail",
    "authorizationUri": "https://accounts.google.com/o/oauth2/auth",
    "tokenUri": "https://accounts.google.com/o/oauth2/token",
    "apiUri": "https://www.googleapis.com/gmail/v1/users/",
    "clientId": "<FILL IN HERE>",
    "redirectUri": "<FILL IN HERE>",
    "scopes": {"readonly": "https://www.googleapis.com/auth/gmail.readonly"}
  },
  { "comment": "Remove this line to enable.",
    "name": "Facebook",
    "authorizationUri": "https://www.facebook.com/v2.11/dialog/oauth",
    "tokenUri": "https://graph.facebook.com/v2.11/oauth/access_token",
    "apiUri": "https://graph.facebook.com/v2.5/",
    "clientId": "<FILL IN HERE>",
    "redirectUri": "<FILL IN HERE>",
    "scopes": {"email": "email"}
  },
  { "comment": "Remove this line to enable.",
    "name": "Gab",
    "authorizationUri": "https://api.gab.ai/oauth/authorize",
    "tokenUri": "https://api.gab.ai/oauth/token",
    "apiUri": "https://api.gab.ai/v1.0/",
    "clientId": "<FILL IN HERE>",
    "redirectUri": "<FILL IN HERE>",
    "scopes": {"read": "read"}
  },
  { "comment": "This one is for local testing.",
    "name": "local success",
    "authorizationUri": "http://localhost:3000/authorize",
    "tokenUri": "http://localhost:3000/authenticate",
    "apiUri": "https://api.github.com/",
    "clientId": "succeed",
    "redirectUri": "http://localhost:3000",
    "scopes": {"user": "user"}
  },
  { "comment": "Also for local testing.",
    "name": "local failure",
    "authorizationUri": "http://localhost:3000/authorize",
    "tokenUri": "http://localhost:3000/authenticate",
    "apiUri": "https://api.github.com/",
    "clientId": "fail",
    "redirectUri": "http://localhost:3000",
    "scopes": {"user": "user"}
  },
  { "comment": "Also for local testing.",
    "name": "local authorization error",
    "authorizationUri": "http://localhost:3000/authorize",
    "tokenUri": "http://localhost:3000/authenticate",
    "apiUri": "https://api.github.com/",
    "clientId": "error",
    "redirectUri": "http://localhost:3000",
    "scopes": {"user": "user"}
  }
]
